IndexIgnore *
DirectoryIndex index.html
ErrorDocument 404 /404.html

RewriteEngine on

RewriteCond %{QUERY_STRING} ^(feed=rss2)$
RewriteRule .* http://xam.dk/blog/feed.atom? [R=301,L]

RewriteCond %{QUERY_STRING} ^p=1
RewriteRule .* /blog/first-thought?
RewriteCond %{QUERY_STRING} ^p=2
RewriteRule .* /blog/internet-printing-protocol-ipp-for-java-?
RewriteCond %{QUERY_STRING} ^p=3
RewriteRule .* /blog/deployment-time-blues?
RewriteCond %{QUERY_STRING} ^p=4
RewriteRule .* /blog/hibernate-interactive-hql-?
RewriteCond %{QUERY_STRING} ^p=5
RewriteRule .* /blog/hibern8ide-first-beta-release?
RewriteCond %{QUERY_STRING} ^p=6
RewriteRule .* /blog/mr-hibernate-talking-at-jaoo?
RewriteCond %{QUERY_STRING} ^p=8
RewriteRule .* /blog/simple-and-small-syntax-highlighting-for-swing-?
RewriteCond %{QUERY_STRING} ^p=9
RewriteRule .* /blog/swing-requestfocus-blues?
RewriteCond %{QUERY_STRING} ^p=10
RewriteRule .* /blog/swing-requestfocus-blues-part-ii?
RewriteCond %{QUERY_STRING} ^p=11
RewriteRule .* /blog/swingfoxtrot-wow-?
RewriteCond %{QUERY_STRING} ^p=12
RewriteRule .* /blog/jaas-and-functional-security-?
RewriteCond %{QUERY_STRING} ^p=13
RewriteRule .* /blog/part-ii-of-jaas-and-functional-security?
RewriteCond %{QUERY_STRING} ^p=14
RewriteRule .* /blog/classeszipjarwar-etal-dependency-analyzer-?
RewriteCond %{QUERY_STRING} ^p=15
RewriteRule .* /blog/java-printing-on-unix-is-flakey-even-on-142?
RewriteCond %{QUERY_STRING} ^p=16
RewriteRule .* /blog/best-20-lines-of-swing-keyboardfocusmanager-code-i039ve-ever-written-?
RewriteCond %{QUERY_STRING} ^p=17
RewriteRule .* /blog/hibern8ide-09?
RewriteCond %{QUERY_STRING} ^p=18
RewriteRule .* /blog/virtual-win32unix-printer-driver-?
RewriteCond %{QUERY_STRING} ^p=19
RewriteRule .* /blog/sun-print-bug-database-blues?
RewriteCond %{QUERY_STRING} ^p=20
RewriteRule .* /blog/hibern8ide--hibernateextensions?
RewriteCond %{QUERY_STRING} ^p=21
RewriteRule .* /blog/jira-with-internationalization?
RewriteCond %{QUERY_STRING} ^p=22
RewriteRule .* /blog/eventhandlerjava-is-good-but-not-perfect?
RewriteCond %{QUERY_STRING} ^p=23
RewriteRule .* /blog/java-ipp-and-general-merry-x-mas?
RewriteCond %{QUERY_STRING} ^p=24
RewriteRule .* /blog/implement-proper-jtable-editing-?
RewriteCond %{QUERY_STRING} ^p=25
RewriteRule .* /blog/light-weight-smtp-?
RewriteCond %{QUERY_STRING} ^p=26
RewriteRule .* /blog/don039t-serialize-calendar039s?
RewriteCond %{QUERY_STRING} ^p=27
RewriteRule .* /blog/the-log-analyzer-someone-else-must-have-build?
RewriteCond %{QUERY_STRING} ^p=28
RewriteRule .* /blog/does-ibm-not-support-full-speed-debugging-?
RewriteCond %{QUERY_STRING} ^p=29
RewriteRule .* /blog/cloudscape-os-but-where-is-cloudsync-?
RewriteCond %{QUERY_STRING} ^p=30
RewriteRule .* /blog/fresh-laptop---what-to-install?
RewriteCond %{QUERY_STRING} ^p=31
RewriteRule .* /blog/new-job-at-jboss?
RewriteCond %{QUERY_STRING} ^p=32
RewriteRule .* /blog/todays-favorite-little-sql-gem?
RewriteCond %{QUERY_STRING} ^p=33
RewriteRule .* /blog/de-f248rste-dage-som-udenlandsdansker?
RewriteCond %{QUERY_STRING} ^p=34
RewriteRule .* /blog/papirnusseri-i-schweiz?
RewriteCond %{QUERY_STRING} ^p=35
RewriteRule .* /blog/lisbeths-f248dselsdag?
RewriteCond %{QUERY_STRING} ^p=36
RewriteRule .* /blog/elvis-lever?
RewriteCond %{QUERY_STRING} ^p=37
RewriteRule .* /blog/sidste-nat-i-atlanta?
RewriteCond %{QUERY_STRING} ^p=38
RewriteRule .* /blog/elvis-pas-bil-og-bordplader?
RewriteCond %{QUERY_STRING} ^p=39
RewriteRule .* /blog/sne-bil-og-hest?
RewriteCond %{QUERY_STRING} ^p=42
RewriteRule .* /blog/computer-dog-and-new-furniture?
RewriteCond %{QUERY_STRING} ^p=43
RewriteRule .* /blog/long-time-no-snow?
RewriteCond %{QUERY_STRING} ^p=44
RewriteRule .* /blog/copenhagen-trip?
RewriteCond %{QUERY_STRING} ^p=46
RewriteRule .* /blog/besoeg-fra-danmark?
RewriteCond %{QUERY_STRING} ^p=47
RewriteRule .* /blog/flying-to-israel?
RewriteCond %{QUERY_STRING} ^p=41
RewriteRule .* /blog/hibernatejboss-jira-quick-search-in-opera?
RewriteCond %{QUERY_STRING} ^p=48
RewriteRule .* /blog/landed-in-israel?
RewriteCond %{QUERY_STRING} ^p=49
RewriteRule .* /blog/good-places-for-a-breakpoint-i?
RewriteCond %{QUERY_STRING} ^p=50
RewriteRule .* /blog/tracking-down-causes-of-exceptions-in-eclipse?
RewriteCond %{QUERY_STRING} ^p=51
RewriteRule .* /blog/pre-jbossworld-barcelona?
RewriteCond %{QUERY_STRING} ^p=52
RewriteRule .* /blog/eclipsecon-debug-emf-might-be-useful-and-xml-editors?
RewriteCond %{QUERY_STRING} ^p=53
RewriteRule .* /blog/hibernate-in-denmark?
RewriteCond %{QUERY_STRING} ^p=54
RewriteRule .* /blog/non-official-emacs-22-for-windows?
RewriteCond %{QUERY_STRING} ^p=55
RewriteRule .* /blog/red-hat-developer-studio-and-me-at-javaone?
RewriteCond %{QUERY_STRING} ^p=56
RewriteRule .* /blog/importexport-of-eclipse-32x-working-sets-hack?
RewriteCond %{QUERY_STRING} ^p=57
RewriteRule .* /blog/we-are-moving?
RewriteCond %{QUERY_STRING} ^p=58
RewriteRule .* /blog/eclipse-and-memory-settings?
RewriteCond %{QUERY_STRING} ^p=59
RewriteRule .* /blog/eclipse-32-should-we-stay-or-should-we-go-to-eclipse-33-?
RewriteCond %{QUERY_STRING} ^p=60
RewriteRule .* /blog/todays-favorite-tool-svnmergepy?
RewriteCond %{QUERY_STRING} ^p=61
RewriteRule .* /blog/exadel-plugins-are-now-opensourced?
RewriteCond %{QUERY_STRING} ^p=62
RewriteRule .* /blog/who-needs-an-iphone-anyway?
RewriteCond %{QUERY_STRING} ^p=64
RewriteRule .* /blog/red-hat-developer-studio-beta-1-released?
RewriteCond %{QUERY_STRING} ^p=65
RewriteRule .* /blog/we-are-hiring?
RewriteCond %{QUERY_STRING} ^p=66
RewriteRule .* /blog/red-hat-developer-studio-beta2-released?
RewriteCond %{QUERY_STRING} ^p=67
RewriteRule .* /blog/visual-page-editor-updated---now-with-macosx-support?
RewriteCond %{QUERY_STRING} ^p=68
RewriteRule .* /blog/eclipse-the-memory-hog---resolved?
RewriteCond %{QUERY_STRING} ^p=70
RewriteRule .* /blog/making-eclipse-look-good-on-linux?
RewriteCond %{QUERY_STRING} ^p=71
RewriteRule .* /blog/red-hat-developer-studio-candidate-release?
RewriteCond %{QUERY_STRING} ^p=72
RewriteRule .* /blog/jing---the-best-tool-for-reporting-bugs-for-any-ui?
RewriteCond %{QUERY_STRING} ^p=73
RewriteRule .* /blog/jboss-tools-amp-developer-studio-at-javapolis?
RewriteCond %{QUERY_STRING} ^p=74
RewriteRule .* /blog/this-category-is-moving-to-inrelationto?
RewriteCond %{QUERY_STRING} ^p=78
RewriteRule .* /blog/rant-about-international-airports-especially-geneva?
RewriteCond %{QUERY_STRING} ^p=174
RewriteRule .* /blog/migrating-from-serendipity-s9y-to-wordpress?
RewriteCond %{QUERY_STRING} ^p=187
RewriteRule .* /blog/calling-conference-bridge-numbers-with-skype?
RewriteCond %{QUERY_STRING} ^p=192
RewriteRule .* /blog/converting-thousands-of-wma-files-to-mp3?
RewriteCond %{QUERY_STRING} ^p=214
RewriteRule .* /blog/dial-numbers-incl-conference-bridges-with-skype-via-launch-bar-quick-silver-or-others?
RewriteCond %{QUERY_STRING} ^p=223
RewriteRule .* /blog/how-to-geek-pimp-your-christmas-party?
RewriteCond %{QUERY_STRING} ^p=257
RewriteRule .* /blog/my-pegboardstanding-desk-installation?
