---
title: "@maxandersen"
subtitle: Welcome
author: Max Rydahl Andersen
layout: base
banner: /img/home-bg.jpg
tab: blog
---
- for post in site.posts[0..2]
  .post-preview
    %h2.post-title
      %a{:href=>relative(post.url)}= post.title
    %h3.post-subtitle
      =post.subtitle
    %p.post-meta
      #{post.date.strftime( '%A, %B %e, %Y' )}
      - post.tags.each do |tag|
        %a.label{:href=>tag.primary_page.url}
          = tag
          &nbsp;

  %p
    ~ post.excerpt
    %p.comments
      %i.icon-comments
        =post.disqus_comments_link 
        #{post.disqus_comments_count} 
  %hr
%ul.pager
  %li.next
    %a{:href=>relative("/blog")} Older Posts &rarr;
-#= page.posts.links


