{@io.quarkiverse.roq.frontmatter.runtime.model.Page page}
{! Read-only display of historical webmentions (_data/mentions.json, grouped by
   likes/reposts/links/replies) and imported comments (_data/comments.json),
   keyed by the post URL path. New ones are no longer accepted. !}
{#let ms=cdi:mentions.get(page.url.path)}
{#if ms}
<div class="webmentions">
  {#if ms.likes.size > 0 || ms.reposts.size > 0 || ms.links.size > 0}
  <div class="facepile">
    {#for m in ms.likes}<a href="{=m.author_url}" title="{=m.author} liked this">{#if m.photo}<img class="avatar" src="{=m.photo}" alt="{=m.author}" loading="lazy">{/if}</a>{/for}
    {#for m in ms.reposts}<a href="{=m.author_url}" title="{=m.author} reposted this">{#if m.photo}<img class="avatar wm-repost" src="{=m.photo}" alt="{=m.author}" loading="lazy">{/if}</a>{/for}
    {#for m in ms.links}<a href="{=m.author_url}" title="{=m.author} mentioned this">{#if m.photo}<img class="avatar wm-link" src="{=m.photo}" alt="{=m.author}" loading="lazy">{/if}</a>{/for}
  </div>
  <p class="wm-counts">
    {#if ms.likes.size > 0}{=ms.likes.size} like{#if ms.likes.size != 1}s{/if}{/if}{#if ms.reposts.size > 0} · {=ms.reposts.size} repost{#if ms.reposts.size != 1}s{/if}{/if}{#if ms.links.size > 0} · {=ms.links.size} mention{#if ms.links.size != 1}s{/if}{/if}
  </p>
  {/if}
  {#if ms.replies.size > 0}
  <h3>{=ms.replies.size} Response{#if ms.replies.size != 1}s{/if} from around the web</h3>
  {#for m in ms.replies}
  <div class="webmention h-cite">
    {#if m.photo}<img class="avatar u-photo" src="{=m.photo}" alt="" loading="lazy">{/if}
    <div class="comment-meta">
      {#if m.author_url}<a class="p-author h-card" href="{=m.author_url}">{=m.author}</a>{#else}<span class="p-author">{=m.author}</span>{/if}
      {#if m.url}<a class="u-url" href="{=m.url}"><time class="dt-published">{=m.date}</time></a>{/if}
    </div>
    {#if m.content}<div class="comment-body e-content">{=m.content.raw}</div>{/if}
  </div>
  {/for}
  {/if}
</div>
{/if}
{#let cs=cdi:comments.get(page.url.path)}
{#if cs}
<div class="comments">
  <h3>{=cs.size} Comment{#if cs.size != 1}s{/if}</h3>
  {#for c in cs}
  <div class="comment h-cite">
    {#if c.avatar}<img class="avatar u-photo" src="{=c.avatar}" alt="" loading="lazy">{/if}
    <div class="comment-meta">
      {#if c.url}<a class="p-author h-card" href="{=c.url}">{=c.name}</a>{#else}<span class="p-author">{=c.name}</span>{/if}
      <time class="dt-published">{=c.date}</time>
    </div>
    <div class="comment-body e-content">{=c.message.raw}</div>
  </div>
  {/for}
</div>
{/if}
