---
title: 'JIRA with internationalization!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=21'
---
<body><p>Yes - JIRA have just been <a href="http://www.atlassian.com/software/jira/docs/v2.5/i18n.html" title="JIRA 2.5">released</a> with i8n support - that's great!<br><br>
Finally, I can suggest JIRA as an alternative to #4"#!"#" ;)</p></body>
