---
title: 'Hibern8IDE 0.9'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=17'
---
<body><p>It's about 5 months since i announced Hibern8IDE beta-release.<br><br>
Well, today I've build a new .jar file for you AND added the source code to the HibernateExt CVS repository.<br><br>
Thus, now you can all see all the gritty details ;)<br>
Well, it was actually VERY simple to make this small interactive HQL editor - just haven't had the time to pollish it firmly, so please be gentle ;)<br><br>
New stuff:<br>
* directly callable from your existing Hibernate project, just do: <code>Hibern8IDE.startWith(configuration);</code><br>
* SIMPLE d'n'd from tree to HQL area<br>
* Can double click on the result and get an JavaObjectInspector (JOI) up for displaying the contents of what was loaded.<br><br>
What are you waiting for ? Go <a href="http://www.xam.dk/hibern8ide">fetch</a> ;)</p></body>
