---
title: 'Hibern8IDE first beta-release!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=5'
---
<body><p>Go <a href="http://www.xam.dk/hibern8ide">fetch</a> :)  (Remember to refresh if you just get to see a page with only a viewlet :)</p></body>
