---
title: 'First thought...'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=1'
---
<body><p>...and first posting with simply nothing interesting.</p></body>
