---
title: 'Java Printing on Unix is flakey, even on 1.4.2!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=15'
---
<body><p>Geez - I was just starting to be so happy for the Java Printing Service API. It works like a charm under Windows.<br><br>
The following code list all printers available AND which trays that are available.<br>
Works fine on Windows, but NOT on Solaris or even Linux ;(<br><br><br><br><code>
<br><br><br>
        // Get a list of printservices.<br>
        PrintService[] services = PrintServiceLookup.lookupPrintServices(null, null);<br><br>
        for (int i = 0; i &lt; services.length; i++) {<br>
            PrintService service = services[i];<br>
            System.out.println(service);<br>
            DocFlavor flavor = DocFlavor.SERVICE_FORMATTED.PAGEABLE;<br>
            Class category = Media.class;<br>
            Object o = service.getSupportedAttributeValues(category, flavor, null);<br>
            if (o == null) {<br>
                // Attribute is not supported           <br>
            } else if (o.getClass().isArray()) {<br>
                // Attribute values are a set of values<br>
                Media[] media = (Media[]) o;<br>
                for (int j = 0; j &lt; media.length; j++) {<br>
                    if(media[j] instanceof MediaTray)  {<br>
                        System.out.println(media[j]);<br>
                    }<br>
                }<br>
            }<br><br>
        }<br><br><br></code>
<br><br><br><br>
The reason ? SUN's own implementation of UnixPrintService and PSPrintJob (internal parts of the JDK) does neither lookup tray information nor do they listen to any tray information provided to them. Thus...<br><br>
You CANNOT print to a given tray on Solaris ;(<br><br>
This was supposed to have been fixed in JDK 1.4.2 according to <a href="http://developer.java.sun.com/developer/bugParade/bugs/4701198.html" title="#4701198">#4701198</a> and <a href="http://developer.java.sun.com/developer/bugParade/bugs/4707777.html" title="#4707777">#4707777</a> on bug parade - but no luck so far ;(<br><br>
The workaround is to provide your own implementation of these basic printservices which utilizes the <br>
correct lpr and lpoptions commands - but these classes needs to be on the bootclasspath!!!<br><br>
Come on Sun - please provide a reasonable print functionality on your own platforms!<br><br></p></body>
