---
title: 'New Job at JBoss'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=31'
---
<body><p>Last week i stopped working at my good old workplace (<a href="http://www.acure.dk" title="Acure">Acure</a>) and <br>
tomorrow i'll start working full time at <a href="http://www.jboss.com" title="JBoss">JBoss</a> as developer &amp; consultant.<br><br>
Shifting from working with <a href="http://www.hibernate.org" title="Hibernate">Hibernate</a> in my precious sparetime to do it full time is<br>
going to do good things for both me and the project - can't wait :-)</p></body>
