---
title: 'Landed in Israel'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Work at JBoss ]
orignallink: 'http://blog.xam.dk/?p=48'
---
<body><p>And its hot, but the view is nice ;)
<br><br><img src="http://coppermine.xam.dk/albums/wpw-20050711/IMG_1792.JPG" alt="View from room 313"><br><br>
More at <a href="http://coppermine.xam.dk/thumbnails.php?album=53">The Gallery</a></p></body>
