---
title: 'De f&#248;rste dage som udenlandsdansker'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Switzerland (Danish) ]
orignallink: 'http://blog.xam.dk/?p=33'
---
<body><p>Vi tog afsted ved en fire-tiden, efter at jeg havde hentet Lisbeth i Ikast og f&#229;et sagt farvel og p&#229; gensyn til sviger-familien i Tulstrup. <br>
Det var rigtigt hyggligt at f&#229; en sidste mini-frokost derude og give/f&#229; knus fra Conny, Preben, Tulle, Charme og ikke mindst Buller <br>
som lige n&#229;ede at komme fra Julie's 18-&#229;rs f&#248;dselsdag! K&#230;mpe tillykke til hende og hendes tvilling :)<br><br>
I Videb&#230;k var mor og Vips klar med en dejlig varm suppe og med nogle gode store madpakker til k&#248;returen. Efter at have f&#229;et pakket <br>
de sidste sm&#229;ting og en h&#229;rd men dejlig afskedsknuser p&#229;begyndte vi k&#248;returen omkring fire-tiden.<br><br>
Turen ned til Schweiz gik faktisk ganske problemfrit (tak til Magda). Lisbeth k&#248;rte de to timer, hvorefter min far og jeg tog over og <br>
k&#248;rte skiftevis 2 til 4(!) timer ad gangen. Bilen var noget tungt i den (der var m&#229;ske ogs&#229; lige lidt for meget v&#230;gt p&#229; den), men vi <br>
n&#229;ede da allivel ca. 100 km/t p&#229; motorvejene i Tyskland. Med hj&#230;lp af mors madpakker og et par timer p&#229; skift p&#229; &#248;jet n&#229;ede vi <br>
frem til den Schweiziske gr&#230;nse omkring klokken ni. <br><br>
Vi havde jo frygtet den Schweiziske gr&#230;nse lidt pg.a. den mulige overv&#230;gt og de r&#248;verhistorier vi havde h&#248;rt omkring hvor besv&#230;rlige <br>
schweiziske toldere kunne v&#230;rre. Men alt det viste sig at v&#230;re spildte bekymringer da vi k&#248;rte lige igennem gr&#230;nsen - tolderen ville <br>
bare lige have at vide det var "used stuff" som var i lastbilen og s&#229; m&#229;tte vi k&#248;re videre. Ang&#229;ende "slemme toldere" s&#229; skal det da <br>
siges at i de andre 3-4 spor indtil gr&#230;nsen var der fyldt op med hundredevis af lastbiler som p&#230;nt m&#229;tte vente p&#229; at tolderne fik tid. <br>
Godt vi ikke havde valgt at k&#248;re i en st&#248;rre bil!<br><br>
Efter nogle f&#229;m&#230;lte, og skjult for tolderne, jubelscener kort efter gr&#230;nsen fortsatte vi turen til vores nye hjem.<br>
Og her var vi noget glade for Magda da vi ellers nok ikke lige havde fundet det p&#229; blandt de store bakker/bjerge og de sm&#229; veje <br>
Til de som ikke har fanget den endnu: Magda er min fars k&#230;lenavn for hans nyerhvervede GPS PDA.<br><br>
Vi ankom til vores lejlighed lidt over middag, godt tr&#230;tte efter at have k&#248;rt ca. 20 timer og ikke s&#229; meget s&#248;vn. Vi fik hurtigt b&#229;ret <br>
senget&#248;j, luftmadrasser og diverse andre forn&#248;denheder op i lejligheden. Det var tid til at f&#229; sovet lidt inden "flytteholdet" ankom ved <br>
en fire tiden. <br><br>
Zzzz....<br><br>
Ved en halv-fire tiden ringede vores v&#230;kkeur - n&#248;j, hvor var vi stadig tr&#230;tte, men vi m&#229;tte smide noget vand i hovedet og g&#248;re klar <br>
til flytteholdets ankomst.<br><br>
Flytteholdet bestod af Christian og Thomas (begge fra JBoss og ogs&#229; nytilflyttere til Neuchatel) som var s&#229; flinke at ville hj&#230;lpe til <br>
med at sl&#230;be - og sl&#230;be det gjorde de godt nok. Vi lavede en "brand-k&#230;de" op af trapperne til vores lejlighed p&#229; 3. etage og s&#229; gik <br>
vi igang. Det tog ikke mere end en 40 minutters tid f&#248;r det hele var deroppe - helt ufatteligt n&#229;r man t&#230;nker p&#229; hvor lang tid det tog for <br>
os at fylde bilen. Christian og Thomas smuttede kort tid efter da de skulle n&#229; noget inde p&#229; arbejdet, men vi lovede at give dem en <br>
middag en dag som tak for hj&#230;lpen.<br><br>
Senere kom Emily og hendes mand "Perique" (ved ikke hvordan det staves ;). De havde en flaske champagne med - det skulle v&#230;re til <br>
jeg og Lisbeths "first honeymoon evening in Switzerland" som Emily s&#229; fint kaldte det. Hende og "Perick" havde foretaget syn p&#229; lejligheden, <br>
s&#229; det gennemgik vi lige samtdigt med at vi fik de andre papirer som hun havde klaret for os (husleje, k&#230;ldern&#248;gle og n&#248;gle til den bygning <br>
som JBoss ligger i). Emily kendte ogs&#229; en del steder vi kunne komme ud og kigge p&#229; et genbrugs-bord til stuen - nu hvor vi ikke kunne f&#229; <br>
vores eget bord med. Det skal vi ud at kigge p&#229; i l&#248;bet af ugen. Det er rigtigt godt vi har Emily, uden hende ville vi aldrig have fundet lejligheden <br>
og alt det andet der h&#248;re med til s&#229;dan en flytning - Tusind tak til hende!<br><br>
Efter de tog afsted var det tid til endelig at f&#229; sovet rigtigt! Forresten kan jeg fort&#230;lle at de to selv-opustlige luftmadresser vi har anskaffet er <br>
ganske udem&#230;rket at sove p&#229; og der er snild plads til to p&#229; dem...s&#229; kom bare p&#229; bes&#248;g - sovepladserne er blevet godkendt af b&#229;de os og min far!<br><br>
I dag (tirsdag) stod vi s&#229; op - eller rettere min far og Lisbeth stod op. Jeg blev lige liggende en halv time mere siden jeg s&#229; flot har f&#229;et anskaffet <br>
mig en ret tr&#230;ls fork&#248;lelse - sn&#248;ft! Efter et bad (med udsigt over en skov med sned&#230;kkede tr&#230;er) var helbredet nogenlunde. <br>
Derfor tog min far og jeg s&#229; afsted for at handle lidt ind i den lokale COOP (Brugsen ala Schweiz).<br>
Det viste sig dog at blive problematisk da de ikke tog VISA! S&#229; vi blev n&#248;d til at tage p&#229; "skaf-penge" mission til Neuchatel.<br>
Det blev noget af en k&#248;retur da Neuchatel viste sig at have en del ensrettede gader som Magda ikke kendte til. <br>
Vi fandt dog baneg&#229;rden hvor vi fik h&#230;vet Francs og Euro. Vi k&#248;rte s&#229; tilbage til vores lokale COOP hvor jeg m&#229; sige priserne<br>
overraskede mig selvom jeg var nogenlunde forberedt p&#229; at priserne ville v&#230;re h&#248;je. Men f.eks. 25 kr for 4 tomater syntes jeg er liiige i overkanten - og hvad<br>
med 35 kr. for 350 gr. gr&#248;ntsager!? Puha - jeg h&#229;ber godt nok vi finder et billigere sted.<br><br>
Da vi kom hjem havde Lisbeth r&#248;rt dej til boller og rugbr&#248;d, men uheldigvis virkede ovnen ikke - s&#229; der blev ikke til noget hjemmebag i denne omgang. <br><br>
Nu var det ogs&#229; ved at v&#230;re tid til at far skulle til at k&#248;re hjemad, eller rettere over mod Basel lufthavn for at hente Oluf som er fl&#248;jet <br>
herned for at min far ikke skulle k&#248;re alene hjem igennem natten og Tyskland. <br><br>
Det var virkelig h&#229;rdt at sige farvel og n&#248;j hvor jeg bare godt vidste det ville blive en h&#229;rd tur for ham hjem igen. Jeg h&#229;ber virkelig han godt ved at jeg <br>
er evig taknemmelig for at han ville k&#248;re med os herned og f&#229; os installeret. Tusind tak far! H&#229;ber du klarer turen hjem uden de store  problemer!<br><br>
I morgen (onsdag) skal vi ud sammen med Emily og p&#229;begynde alt papir arbejdet omkring opholdstilladelse, sygesikring, dagpenge til Lisbeth og bankkonto oprettelse....det skriver jeg nok om senere ;)<br><br>
Hils Danmark!<br><br><br><br></p></body>
