---
title: 'Long time no snow!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Switzerland (Danish) ]
orignallink: 'http://blog.xam.dk/?p=43'
---
<body><p>Ja, der var engang vi havde 22 grader mens Danmark havde 5.
<br><br>
Se her hvordan det så ud i søndags: 
<br><br><img src="http://coppermine.xam.dk/albums/wpw-20050417/IMG_0797.JPG" alt=""><a href="http://coppermine.xam.dk/displayimage.php?album=31&amp;pos=11">Mere i galleriet</a></p></body>
