---
title: 'Lisbeths F&#248;dselsdag'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Switzerland (Danish) ]
orignallink: 'http://blog.xam.dk/?p=35'
---
<body><p>S&#229; blev det Lisbeths f&#248;dselsdag!<br><br>
Jeg havde givet hende en gave dagen f&#248;r s&#229; vi kunne komme op afsted til Neuchatel hvor <br>
jeg ville vise Lisbeth de butikker jeg havde fundet under min s&#248;gning efter en gave til hende.<br><br>
S&#229; turen gik ind til Globos som er en butik ala Magasin/Salling i &#197;rhus, men faktisk bedre. <br>
Specielt fordi de har en helt etage med elektronik og andre dimse dutter ,) Men derudover<br>
syntes jeg da ogs&#229; de andre afdelinger var noget flottere og mere interessante end i Danmark -<br>
men det er nok bare fordi alting stadig er nyt....<br><br>
Lisbeth fandt sin normale h&#229;rfarve serie s&#229; der blev hun glad - og jeg..eh...vi fik k&#248;bt et<br>
nyt digital kamera en Canon Ixus 500 (det andet blev jo stj&#229;let). Jeg fik ogs&#229; skaffet<br>
mig headset og webcamera til den b&#230;rbare s&#229; jeg nu ogs&#229; kan observeres og ringes til<br>
n&#229;r jeg er ude at rejse. Det bliver jo allerede aktuelt n&#230;ste weekend hvor jeg skal til Atlanta.<br><br>
Om aftenen fik Lisbeth "overraskelses"-bes&#248;g fra Emily og "Patrique" som havde bagt kage<br>
og kom forbi for at &#248;nske Tillykke med f&#248;dselsdagen. Vi har jo ikke rigtigt noget sofabord/stole<br>
endnu s&#229; de m&#229;tte lige sidde p&#229; en skammel og en kontorstol - kagerne blev stillet p&#229; en papkasse.<br><br>
Efter de havde v&#230;ret har tog vi over p&#229; den "lokale" for at spise Fondue. Det var rigtigt godt, selvom<br>
Lisbeth var lidt nerv&#248;s for flammerne til tider ,) <br>
Efter maden kom Kro-fatter med vores the og kaffe + en hjemmelavet specialitets drink. Han sagde godt nok<br>
"liq&#248;r", men den var nu noget st&#230;rkere end hvad vi ville kalde lik&#248;r. Men specielt og sjovt var det.<br><br>
Vi satte os senere op i baren hvor krofatter var s&#229; flink at sidde og snakke/kommunikere med os selvom<br>
han ikke rigtigt kunne tale engelsk/tysk og vi ikke Fransk - men sjovt og l&#230;rerigt var det!<br><br>
Jeg har lagt billeder op fra ig&#229;r, de kan ses her: <a href="http://www.xam.dk/coppermine/thumbnails.php?album=18&amp;page=1">Lisbeths F&#248;dselsdaghttp://www.xam.dk/coppermine/thumbnails.php?album=18&amp;page=1</a>.<br>
Der er ogs&#229; lidt flere billeder fra andre tidspunkter - de f&#229; jeg havde noget at downloade fra det gamle kamera.<br>
Dem kan i finde via <a href="http://www.xam.dk/coppermine">http://www.xam.dk/copperminehttp://www.xam.dk/coppermine</a>.<br><br></p></body>
