---
title: 'Computer dog and new furniture'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Switzerland (Danish) ]
orignallink: 'http://blog.xam.dk/?p=42'
---
<body><p>Ja, det her er min hund! ;)
<br><br><img src="http://www.xam.dk/coppermine/albums/userpics/10001/IMG_0802.JPG" alt=""><br><br>
Vi fik også ny møbler den anden dag - de er at se i 
<a href="http://www.xam.dk/coppermine/thumbnails.php?album=34">Galleriet</a></p></body>
