---
title: 'Sne, bil og hest!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Switzerland (Danish) ]
orignallink: 'http://blog.xam.dk/?p=39'
---
<body><p>S&#229; lykkedes det endelig! Vi fandt rideskolen der ligger i vores by.<br>
Lisbeth har sin f&#248;rste ridetime p&#229; tirsdag kl. 14! <br>
Den blev fundet som det sidste vi gjorde efter at have k&#248;rt Neuchatel<br>
og omegn tynd i den lejede bil.<br><br>
Vi n&#229;ede ogs&#229; lige at f&#229; pr&#248;vet at k&#248;re i bjerge/bakker p&#229; smalle<br>
veje med noget mere sne end man kunne &#248;nske sig.<br>
Dette og en masse gode udsigter kan ses p&#229; <a href="http://www.xam.dk/coppermine/thumbnails.php?album=24">Galleriet</a></p></body>
