---
title: 'Elvis Lever'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Switzerland (Danish) ]
orignallink: 'http://blog.xam.dk/?p=36'
---
<body><p>Ikke s&#229; meget nyt at fort&#230;lle idag ud over at <a href="http://coppermine.xam.dk/thumbnails.php?album=20" title="Elvis Lever">Elvis Lever</a>.<br><br>
Han blev fundet sammen med fire af sine s&#248;skende p&#229;<br>
en vej i Neuchatel i December og blev indleveret til politiet.<br>
Vi fandt ham s&#229; ved en kennel/pensionat.<br><br>
Han er ca. 3 m&#229;neder gammel.<br>
Blanding af en Siberian Huskey og en "Border".<br>
Vi regner/h&#229;ber p&#229; at han ikke bliver for stor :)<br><br>
Han har f&#229;et alle vacinerne og er chippet, s&#229; alt det skulle <br>
gerne v&#230;re p&#229; plads.<br><br>
Og ja, han har allerede testet at gulvet er tisse-modstandsdygtigt!<br><br></p></body>
