---
title: 'Besoeg fra Danmark'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Switzerland (Danish) ]
orignallink: 'http://blog.xam.dk/?p=46'
---
<body><p>Det har været en travl tid på det sidste så har ikke fået vedligeholdt den her side - typisk :)
<br><br>
Men lidt nyt skal der da være, så jeg kan da fortælle at vi havde besøg fra Danmark sidste uge!
<br><br><img src="http://www.xam.dk/coppermine/albums/wpw-20050630/IMG_1424.JPG" alt=""><br><br>
Det var en rigtig god og Varm! uge, i næste uge kommer sviger-mekanikken...så må vi se ,)
<br><br>
Flere billeder som sædvanligt i <a href="http://www.xam.dk/coppermine/thumbnails.php?album=50">Galleriet</a></p></body>
