---
title: 'Elvis, pas, bil og bordplader'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Switzerland (Danish) ]
orignallink: 'http://blog.xam.dk/?p=38'
---
<body><p>Vi har lejet bil her i weekenden s&#229; vi kan komme lidt rundt og se hvad<br>
der er i omgivelserne. Vi ville gerne have v&#230;ret til Frankrig, men Elvis<br>
har jo ikke lov til at krydse gr&#230;nsen endnu.<br><br>
Det fik vi s&#229; gjort noget ved idag da vi k&#248;rte til dyrel&#230;gen og fik den<br>
p&#229;kr&#230;vede rabies vacination og tilh&#248;rende hunde-pas. S&#229; om en m&#229;neds<br>
tid m&#229; Elvis krydse gr&#230;nserne. <br><br>
Han blev ogs&#229; generelt chekket igennem og der var ikke noget at bem&#230;rke<br>
ud over at han fik t&#248;mt kirtler. Vi fik ogs&#229; at vide han havde taget 2 kg p&#229; siden<br>
vi fik ham, s&#229; han nu vejer 12 kg, vi syntes dog han vejer noget mere n&#229;r vi b&#230;rer<br>
ham op og ned af trapperne ,)<br><br>
Bilen var han dog ikke s&#229; glad for - vejene her i Schweiz kan g&#248;re de fleste k&#248;resyge<br>
s&#229; det blev han ogs&#229;. Glad for at vi havde belagt bags&#230;det med gamle t&#230;pper - yum yum.<br><br>
I dag var vi mest i handle hum&#248;r, men fandt ikke rigtigt noget bord eller fryser<br>
som vi havde planlagt. Ikke noget bord da der ikke var nogen vi kunne li' og ikke<br>
nogen fryser da vi ikke kunne finde det sted hvor de skulle have nogenlunde priser<br>
for frysere.<br><br>
I morgen skal vi ud og leje turister - vi har fundet ud af der ligger et meget kendt<br>
bjerglandskab en 30-50 km herfra s&#229; der tager vi ud i morgen.<br><br>
Billeder fra weekenden (der kommer flere s&#248;ndag-mandag) kan ses her <a href="http://www.xam.dk/coppermine/thumbnails.php?album=24" title="Schweiz lejet bil">Schweiz lejet bil</a><br>
og mine evner som bordsnedker kan ses her: <a href="http://www.xam.dk/coppermine/thumbnails.php?album=25" title="T&#248;mmersvend">T&#248;mmersvend</a> <br>
(dog har jeg ikke lagt billederne op af hylderne endnu da de liige skal rettes lidt til f&#248;r jeg vil st&#229; ved dem ,)<br><br>
God Weekend!</p></body>
