---
title: 'Non official Emacs 22 for Windows'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=54'
---
<body><p>Just bumped into a <a href="http://ourcomments.org/Emacs/EmacsW32.html">site</a> that provides a recent build of Emacs 22 (yes, that is 22 not 21) for Windows + adding a good set of usefull win32 features.
<br><br>
That just made my monday a good monday :)</p></body>
