---
title: 'Who needs an iPhone anyway...'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=62'
---
<body>
<table>
<tr>
<td>Get a decent phone</td>
<td><a href="http://www.goosync.com"><img src="http://www.goosync.com/images/Nokia/6282.jpg"></a></td>
<td>$20</td>
</tr>
<tr>
<td>+ GMail Mobile</td> <td><a href="http://www.google.com/mobile"><img width="80" src="http://www.google.com/mobile/images/phone_gmail.gif"></a></td>
<td>$0</td> </tr>
<tr>
<td>+ Google Calendar</td> <td><a href="http://calendar.google.com"><img width="150" src="http://www.google.com/calendar/images/calendar_sm2_en.gif"></a></td>
<td>$0</td>
</tr>
<tr>
<td>+ GooSync</td>
<td><a href="http://www.goosync.com"><img width="100" src="http://www.goosync.com/images/GooglePhone.jpg"></a></td>
<td>$0 to $19.95</td>
</tr>
<tr>
<td>+ Opera Mini beta 4</td>
<td><a href="http://www.operamini.com/beta"><img src="http://www.operamini.com/images/beta/02-x.gif"></a></td>
<td>$0</td>
</tr>
</table>
<br><br><h2>Result</h2> 
The real web, e-mail and synchronized calendar on a mobile device without having to sell your soul to the Apple mania ;)
<br><br>
Especially GooSync and Opera Mini beta 4 is what makes this experience enjoyable!
<br><br><br><br><h2>What would make it perfect...</h2>
GooSync should add the option of syncing the description and comments, currently it is only the time, title and notification that is sync'ed.
Opera Mini should include something like the "Wand" from it's big-brother Opera to fill in forms (which is a pain on a desktop, but horriable on any phone).</body>
