---
title: 'Red Hat Developer Studio Beta 1 released'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ JBoss Tools and devstudio ]
orignallink: 'http://blog.xam.dk/?p=64'
---
<body>
<p>Today we are releasing Red Hat Developer Studio Beta 1:
<br><br>
Go get your own copy <a href="http://www.redhat.com/developers/rhds">here</a>.
<br><br>
Red Hat Developer Studio beta 1 is the full bundle and includes:
<br><br></p>
<ul>
<li>Installer</li>
<li>Eclipse 3.3</li>
<li>Eclipse Web Tools Platform 3.3</li>
<li>JBoss Enterprise Application Platform 4.2</li>
<li>JBoss Tools beta 3</li>
</ul>
<br><br>
Download urls for JBoss Tools beta 3 will be posted/announced later when the filecopying completes ;)</body>
