---
title: 'Rant about international airports, especially Geneva'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Work at JBoss ]
orignallink: 'http://blog.xam.dk/?p=78'
---
<body><p>The last 3-4 years I've been travelling alot to and from Switzerland and especially Geneva Airport.
<br><br>
I normally always take a trolley for my suitcase and carry on luggage since I realized that it makes my long flights much smoother not having strained my back or feet with moving around bulky and semi-heavy luggage (and no, four-wheeled luggage does not help since I still have to carry my carry on bag).
<br><br>
But lately Geneva did the most annoying thing. They started requiring you to put 2 CHF in to get a trolley. 
<br><br>
I understand the reasoning about it since the airport probably feel that it is cheaper to let their customers put back their trolley instead of paying personel to pick them up.
<br><br>
But seriously, how many international passengers arriving in the airport will have an actual swiss franc coin in their pocket ? Bill notes maybe, but not coins! And even you have a coin you can't get it back when you reach the "No trolleys allowed signs" since Geneva airport never bothered putting up trolley stations inside the airport where you can get your 2 CHF back!
<br><br>
End result: Tired international passengers will have to carry their luggage since they don't have the coins, and local swiss passengers that have the 2 CHF will still leave the trolleys left and right since there are no sane place to get the 2 CHF back again....I guess those 2 CHF is now a tip for the personel Geneva airport couldn't let go since there is still work for them to move the left over trolleys back to their origin.
<br><br>
Rant over - now ill continue wait for my flight ;)</p></body>
