---
title: 'This category is moving to in.relation.to'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ JBoss Tools and devstudio ]
orignallink: 'http://blog.xam.dk/?p=74'
---
<body><p>In the future i'll put my blogs about JBoss Tools/Developer Studio and related at <a href="http://in.relation.to/Bloggers/Max">in.relation.to</a>.
<br><br>
First entry is already there, an updated version of "Making Eclipse look good under Linux", see it <a href="http://in.relation.to/3439.lace">here</a>.</p></body>
