body{
	 padding: 50px 0;
	 font-size: 24px;
	 font-family: "Special Elite", sans-serif;
	 font-style: normal;
	 font-weight: 400;
   color: white;
	 background-color: #af0000;
}


.links-center {
    font-size: 50px;
    text-align: center;
}
