---
title: 'Deployment time blues'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=3'
---
<body><p>Dammit...how long time do you spend waiting on your J2EE server when deploying ?<br><br>
At my work we use a <a href="http://www.trifork.com" title="Fast inplace deployment...">server</a> for which we can reduce the deployment time dramatically compared to Weblogic, Websphere and others I've tried. It's 5-10 seconds, compared to minutes in the big-shots containers....<br><br>
I don't like to wait more than 5-10 seconds, so I'm shocked when I hear/read about deploymenttimes seems just to get higher and higher for many projects using big commercial servers.......what are you doing to keep them down ?<br><br>
Using hot/inplace hotdeployment has a rumor of being "flakey" on some servers, is this still true ? Can one rely on it reloading classes correctly ?</p></body>
