---
title: 'Hibern8IDE + HibernateExtensions'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=20'
---
<body>
<p>As I still get more and more comments on my "old" Hibern8IDE page, I would like to inform ya'all:<br><br>
Hibern8IDE is now part of HibernateExtensions available from <a href="http://www.hibernate.org">www.hibernate.org</a>. <br><br>
(See <a href="http://forum.hibernate.org/viewtopic.php?t=924926">announcment</a> and <a href="http://www.hibernate.org/6.html">download</a>)<br><br>
Lot's of new fun and cool stuff:<br></p>
<ul>
<br><li>Added History feature to HQL commander</li>
<br><li>Added experimental graphing of the class relationships (via JGraph)</li>
<br><li>Added support for executing abitrary java. Can be used to dynamically<br>
  evaluate Criteria API, save/delete/update objects, etc.<br>
  (via bsh) Note: the session is available via "session" as an object.</li>
<br><li>Misc. refactorings and better errorhandling</li>
<br>
</ul>
<br><br>
Please post comments at the <a href="http://forum.hibernate.org/viewtopic.php?t=924926">Hibernate forum</a>
</body>
