---
title: 'Internet Printing Protocol (IPP) for Java ?'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=2'
---
<body><p>Now that JDK 1.4 has introduced the javax.print with IPP-like semantics and properties, why haven't we yet seen an IPPPrintService and IPPLookupService ? <br><br>
I've searched high and low for such a beast, but with no real luck. <br><br><a href="http://www.trcs.com/projects/ippjava.htm" title="IPP for Java">This site</a> mentions something that sound like they have done it, but there is no response when asking them for details :(<br><br>
In some bug-reports on java.sun.com there is small comments on "maybe in 1.5", which sounds interesting, but why not before ? Why not as an experimental addon...? It would be so sweet :)</p></body>
