---
title: 'Hibernate Interactive HQL ?'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=4'
---
<body><p>It's Saturday night, and I just felt like doing something for the fun of it :)<br><br>
I've created a quick'n'dirty Hibern8 IDE in less than 3 hour - you gotta love Eclipse!<br><br>
And to just to have even more fun I went and created a small Viewlet, so you could all<br>
see it...so <a href="http://www.xam.dk/hibern8ide" title="Hibern8IDE Viewlet">watch </a> and enjoy.<br><br>
p.s. I'll release it as soon as I get to remove the 'n'dirty parts :)</p></body>
