---
title: 'Java IPP and general Merry X-Mas'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=23'
---
<body><p>It sure is christmas time now ;)<br><br>
The first OS Java IPP implementation (called Jipsi) have been made available from http://www.lohndirekt.de/software/jipsi_quickstart.html.<br><br>
Great stuff, based/inspired by CUPS - but unfortunately Jipsi is been released under GPL instead of LGPL which makes it impossible for me to use ;( ....but hey, it's a start ;)<br><br>
Secondly, JGoodies have showed me how to do proper validation UI's - see http://www.jgoodies.com/freeware/validationdemo/index.html (yes - it was relased on the 10th, but hey it's close to x-mas ;)<br><br>
Thirdly, JDK 1.5 Alpha have been made available for JavaLobbist's from http://www.javalobby.org/members/j2se15.jsp (require javalobby.org registration)<br><br>
Fourth, Eclipse M6 is still working great ;)<br><br>
Fifth, Happy X-Mas ;)</p></body>
