---
title: 'The log analyzer someone else must have build!?'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=27'
---
<body><p>We have a nice little audit log in our applications. One that contains a line for each "start" and "stop" for each event/process  that can occur in the system.<br><br>
Each line contains information about when, what, who, where - all stuff that can be used to track down whoever did something....but it is also a goldmine of information regarding the systems performance and usage.<br><br>
So, I wrote a little "event extractor" program that converted all these "start" and "stop"'s (which can be nested by the way) into rows in a table - from here on I can extract all the statistics and graphs I can dream up and find the time to implement.<br><br>
While writing this I came to think: "Hey, someone else much have done this before".<br><br>
I then searched high and low after "log analyzers", "data mining", "data warehouse" etc. but all I find is tools that relates to www logs (who cares :) and nice scientific (but mostly academic) tools for analyzing "what kind of weather there should be before a customer buys a computer".<br><br>
Can this be true ? Haven't anyone made a log analyzer that utilizes the well known concepts in data mining/warehousing to visualize and explore performance and usage of an application ?<br><br>
It can't be true i've written the first of them ;) - please prove me wrong!<br><br>
Update: <a href="http://www2.ilog.com/preview/Discovery/" title="ILOG Discovery">ILOG Discovery</a> has some nice visualization features...got to look into that ;)</p></body>
