---
title: 'Cloudscape OS, but where is CloudSync ?'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=29'
---
<body><p>I've just <a href="http://www.blueskyonmars.com/archives/2004/07/31/ibm_to_open_source_cloudscape_database.html">read</a> that IBM is going to opensource the feature rich and robust Java only database called <a href="http://www-306.ibm.com/software/data/cloudscape/">Cloudscape</a>.<br>
That is surely great news - at least if it has kept it's lightweight footprint and ease-of-use from the last time I used it (a couple of years ago).<br><br>
The not so great thing is that it seems IBM removed the one great feature that really set Cloudscape aside - namely <a href="http://www.google.com/search?q=cloudsync&amp;sourceid=opera&amp;num=0&amp;ie=utf-8&amp;oe=utf-8">CloudSync</a>! CloudSync allowed you to replicate selected parts of your database to e.g. a laptop or PDA to allow for fully disconnected usage of the database - and possibly modifications could later be replicated to the source database! A VERY nice and powerfull feature.<br><br>
But unfortunately I <a href="http://63.209.20.13/cgi-bin/db2www/cloudscapeforum.d2w/main?PRDID=2&amp;CATID=&amp;FLD=message.message&amp;KW=cloudsync">found</a> at the <a href="http://63.209.20.13/cgi-bin/www2/cloudscapeforum.d2w/main">Cloudscape Forum</a> (and the fact that ClodSync is <a href="http://publibfi.boulder.ibm.com/epubs/html/cloud40/doc/pdf/lsa.pdf">last mentioned </a>in the <a href="http://www-306.ibm.com/software/data/cloudscape/pubs/collateral.html">4.0 docs</a>) that this feature was removed from Cloudscape soon after IBM aquired it "because IBM already has <br>
synchronization technology available called the DB2 Everyplace Sync Server".<br><br>
Bummer.<br><br>
..but still having CloudScape out there as an alternative is priceless, maybe that could bring back CloudSync'a'like features.</p></body>
