---
title: 'Light weight SMTP ?'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=25'
---
<body><p>I'm searching for a lightweight SMTP implementation that is NOT dependent on JavaMail....particularly i'm looking for it to have a lightweight mailAppender for Log4j.<br><br>
I can find EasySMTP referenced a couple of places but the <a href="http://www.bitfolge.de/easysmtp/">site</a> seems dead and it is also GPL which makes it impossible for me to use ;(</p></body>
