---
title: 'Fresh laptop - what to install'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=30'
---
<body><p>Just received a new laptop box, and as always i'm using hours to configure it just right :)<br><br>
Now that i've done that quite some times the last few years I wanted to write down the stuff I normally install on such beasts.<br><br>
Here it goes:<br><br><a href="http://www.opera.com">Opera</a> - still the fastest and most resource efficient browser on the planet<br><a href="http://www.ceruleanstudios.com" title="Trillian">Trillian 2 Pro</a> - the ultimate IM client<br><a href="http://www.skype.com">Skype</a> - the best voice IM i know (MSN takes too many resources for my taste)<br><a href="http://www.cerberusftp.com">Cerberus FTP</a> - easy to use and fast server<br><a href="http://www.tightvnc.com">TightVNC</a> - remote desktop'ing the easy way<br><a href="http://www.picasa.com">Picasa</a> - insanely fast and cool image/photo manager<br><a href="http://bayden.com/SlickRun/">SlickRun</a> - full command line and shortcut power tool<br><a href="http://www.webshots.com">Webshots</a> - simply fantastic images, even in the free edition and it's light on the resources<br><a href="http://home.worldonline.dk/ninotech/freeutil.htm#pathcopy">Ninotech Path Copy</a> - very configurable shell extension for copying pathnames to the clipboard<br><a href="http://www.altap.cz/">Servant Salamander</a> - Slick and easy to use file manager<br><a href="www.tortoisecvs.org/">TortoiseCVS</a> - Make CVS commands available in a shell extension <br><a href="http://www.eclipse.org">Eclipse</a> - free and ultimate (java) IDE<br><a href="http://www.cygwin.com">Cygwin</a> - make windows usable<br><a href="http://www.chiark.greenend.org.uk/~sgtatham/putty/">Putty</a> - small and fast SSH client<br><a href="http://www.jpsoft.com/products.htm">4NT</a> - all what a command line shell should be (unfortunately not free)<br><a href="http://www.gnuplot.info/">Gnuplot</a> - plotting almost anything<br><a href="http://ploticus.sourceforge.net/doc/welcome.html">Ploticus</a> - plot the rest<br><a href="http://www.gnu.org/software/emacs/emacs.html">Emacs</a> - the editor (+ a long list of packages not mentioned here :)<br><br><br>
...probably forgotten a few - but that will wait to next time :)</p></body>
