---
title: 'Copenhagen Trip'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Work at JBoss ]
orignallink: 'http://blog.xam.dk/?p=44'
---
<body><p>After a very good meeting, we wanted to get some very good food :)
<br><br><img src="http://coppermine.xam.dk/albums/wpw-20050503/IMG_0818.JPG" alt=""><br><br>
Koen, with 1.2 kg australian coulotte at <a href="http://www.bryggeriet.dk/apollo">Bryggeriet in Copenhagen</a></p></body>
