---
title: 'Pre JBossWorld Barcelona'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Work at JBoss ]
orignallink: 'http://blog.xam.dk/?p=51'
---
<body><p>Landed in Barcelona yesterday and had our fun with the cab driver which continued to claim he knew which hotel we were going to (<a href="http://www.hilton.com/en/hi/hotels/index.jhtml?ctyhocn=BCNDMHI">Hilton Diagonal Mar</a>) until another cab driver at the wrong Hilton Hotel pointed him in the right direction; but we got a sight seeing tour out of getting back on the right track.
<br><br>
Last night we just relaxed and watch Denmark beat Greece 1-0 - yeah! 
<br><br>
Today we went sightseeing and the result of that can be viewed at the <a href="http://www.xam.dk/coppermine/thumbnails.php?album=64">JBoss World Barcelona 2005</a> in the <a href="http://coppermine.xam.dk">Gallery</a></p></body>
