---
title: 'EclipseCon: Debug, EMF might be useful and XML editors'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=52'
---
<body>
<p>First day at EclipseCon and until now it been a real treat!
<br><br></p>
<h1>Eclipse Debug Framework</h1>
First part of the day I spent at the "<a href="http://www.eclipsecon.org/2006/Sub.do?id=30">Eclipse Debug Framework</a>" tutorial. The tutorial were really nice and got to see code and work with it and even though the presenter had to be a bit quick, we got enough material to complete a simple full debugger. Nice.
<br><br>
I got a really good insight in how it can be used to build your own debug functionallity.
More interesting is how powerfull it already is and there is a lot of extension points we can use to add "enhanced debug value" into JBoss IDE and for me especially Hibernate Tools. 
<br><br>
Today we already use the launcher framework for the codegeneration which really saves alot of redundant code, but
i'm also toying a bit with how we can hook into a running JVM and interact with any SessionFactory and/or Session available in the callstack or variables view allowing users to introspect a running Hibernate instance and even execute queries against it. Will be cool, but will have to start coding against Eclipse 3.2 to get to the real fun parts.
<br><br><h1>Webtools Dinner</h1>
The dinner were nice, where I got to sit at the "Webtools" topic table. Got a good talk with various people (you know who you are ;), but especially with Raghu Srinivasan which is part of the JSF subproject of Webtools. 
<br><br>
He told me how they lately had seen the light with respect to how EMF could help keeping non-text representations in sync with a underlying XML model without too much hassle. That is the first good argument I have heard for actually using EMF (besides the typical "everybody uses it" argument). 
<br><br><h1>Extending Webtools XML Editors</h1>
I've been extending and using the Webtools XML editors for good and for worse in Hibernate Tools. This afternoon (actually currently) I am sitting at the "<a href="http://www.eclipsecon.org/2006/Sub.do?id=186">Extending the XML and JSP editors from the WTP project</a>". Here it is more a technical walk through and a talk about various features and functionallity that is available in the XML editors.
<br><br>
I got a "few" things I want to talk with they guys behind the XML editors and until now it seems this is just the right place to be.
<br><br><h1>Tomorrow</h1>
<br><br>
Tomorrow I will be doing the Hibernate Tools Demo which is at 15:00 in room 203, drop by and let me know what you think.
<br><br>
We might also do a "JBoss IDE &amp; American Beer BOF", but it is not clear if there will be room...stay tuned!
<br><br><br><br><br><br>
</body>
