---
title: 'Hibernate in Denmark'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Work at JBoss ]
orignallink: 'http://blog.xam.dk/?p=53'
---
<body><p>Finally! - I get to do a Hibernate Advanced training in my motherland in December.
<br><br>
Will be good fun to explain some of the complexities of ORM in Danish, haven't really done that the last 2 years. 
<br><br>
Still as it normally goes people come from all over Europe to these trainings, so I'll probably have to keep the danish speaking part to the breaks - so don't worry :)
<br><br>
Thus if you are up for 2 days of <a href="http://www.hibernate.org">Hibernate</a> training in Beautifull (but at that time probably cold) Copenhagen then go to <a href="http://www.jboss.com">JBoss</a>'s partner RedPill website and <a href="http://www.redpill.se/utbildning/index.php?module=index&amp;lang=en">register</a>.
<br><br>
Vi ses!
<br><br><br><br></p></body>
