---
title: 'We are moving!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Work at JBoss ]
orignallink: 'http://blog.xam.dk/?p=57'
---
<body><p>Now it's official - the document is signed and sealed ;)
<br><br>
110 square meters, fireplace, open kitchen, huge livingroom, double garage, place for a hammock, grenery + garden/grass for the dogs and no (real) neighbors.
<br><br>
You can see Lisbeth "hanging out" in the appartement when we were seeing it together for the first time (the current tenant are moving out hence the "mess")
<br><br><img src="http://coppermine.xam.dk/albums/wpw-20070528/normal_IMG_6125.JPG" alt="Lisbeth hanging around"><br><br>
Only downside is the extra distance to public transport (5 km) but for all the other benefits i'll manage ;)
<br><br>
Now we just need to get everything packed, disassembled and moved over the next month.
<br><br>
Rock On!</p></body>
