---
title: 'We are hiring!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ JBoss Tools and devstudio ]
orignallink: 'http://blog.xam.dk/?p=65'
---
<body><p>Do you have Eclipse RCP/plugin development experience and want to work with the JBoss Tools and Red Hat Developer Studio team on creating the best opensource IDE for JBoss AS and Seam development ?
<br><br>
Then checkout these new positions:
<br><br><a href="https://redhat.ats.hrsmart.com/cgi-bin/a/highlightjob.cgi?jobid=2640">Job 1</a>, <a href="https://redhat.ats.hrsmart.com/cgi-bin/a/highlightjob.cgi?jobid=2699">Job 2</a>, <a href="https://redhat.ats.hrsmart.com/cgi-bin/a/highlightjob.cgi?jobid=2700">Job 3</a>
<br><br><br><br><br><br></p></body>
