---
title: 'Hibernate/JBoss JIRA Quick search in Opera'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=41'
---
<body><p>Here is how you can do quick search in your JIRA directly from the browser url in Opera:
<br><br>
Go to Tools/Preferences/Search and add the following:
<br><br><b>Name:</b> Hibernate JIRA
<b>Keyword:</b> h
<b>Address:</b> http://opensource.atlassian.com/projects/hibernate/secure/QuickSearch.jspa  
<b>Query String:</b> searchString=%s
<b>Use POST:</b> true
<br><br><br><br><b>Name:</b> JBoss JIRA
<b>Keyword:</b> j
<b>Address:</b> http://jira.jboss.com/jira/secure/QuickSearch.jspa
<b>Query String:</b> searchString=%s
<b>Use POST:</b> true
<br><br>
Now I can just enter "h hbx seam" to see hibernate jira issues for HBX that includes the word "seam"; and similar for JBoss but with a "j" as prefix.
<br><br>
If anyone can tell how I get the same functionallity in Firefox then it would be great (note: I know you can add custom searches to the firefox search field; what I'm asking for is the "enter string in URL line and get a custom search executed"-feature)
<br><br><b>Update:</b> Just saw <a href="http://www.xyzcomputing.com/index.php?option=content&amp;task=view&amp;id=1002">this article</a> which describes "Add Keyword for this search" popup menu in FireFox - same functionallity, but actually easier to configure (touche!)
<br><br><b>Double update:</b> Opera actually have a "Create search" popup menu too - I guess it's even functionality wise (but Opera had it first ;)</p></body>
