---
title: 'Red Hat Developer Studio Beta2 released'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ JBoss Tools and devstudio ]
orignallink: 'http://blog.xam.dk/?p=66'
---
<body><p>We made Red Hat Developer Studio 1.0.0.beta2 available at 
<a href="http://www.redhat.com/developers/rhds/index.html">http://www.redhat.com/developers/rhds/index.html</a>
<br><br>
Red Hat Developer Studio is a set of eclipse-based development tools that are pre-configured for JBoss Enterprise Middleware Platforms.
<br><br>
It currently bundles JBoss EAP 4.2, Eclipse 3.3, latest JBossTools plugins plus other plugins relevant for JBoss development.
<br><br>
Whats new and noteworthy for Red Hat Developer Studio (and JBoss Tools) can be found at
<a href="http://docs.jboss.org/tools/whatsnew/">http://docs.jboss.org/tools/whatsnew/</a>
<br><br></p></body>
