---
title: 'Eclipse The Memory Hog - resolved!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=68'
---
<body>
<p>A couple of months back I made a blog entry about <a href="http://blog.xam.dk/archives/68-Eclipse-and-memory-settings.html">Eclipse and its memory settings</a>. I wrote it because so many people complained that even when they put memory flags in their eclipse.ini Eclipse was still a memory hog and it crashed all the time. The entry blog explains how fragile eclipse.ini is and how to write it correctly and verify that it is picked up correctly.
<br><br>
That helped many, but suddenly I was starting to see more and more blogs, jira issues, forum postings, phone calls, personal assaults etc. about Eclipse memory usage sucking and our users started having memory issues with the <a href="http://download.jboss.org/jbosstools/builds/nightly/latestBuild.html">latest builds</a> and releases of <a href="http://labs.jboss.com/tools/">JBoss Tools</a>.
<br><br>
Why were so many seeing memory issues on a release that actually should use less memory than the previous one ?
<br><br>
As it turns out, on top of the issues with eclipse.ini from my previous entry, Eclipse 3.3.1 introduced <a href="https://bugs.eclipse.org/bugs/show_bug.cgi?id=203325">a major bug</a> in parsing the settings in eclipse.ini that resulted in PermGen memory settings not being set correctly on Sun Java VM's! 
<br><br><b>Result:</b> Eclipse 3.3.1 runs "fine" at first, but as soon as you start having larger projects and/or using additonal plugins you are bound to get OutOfMemoryExceptions! 
<br><br><b>Thankfully</b> eclipse.org is now in the process of doing a respin of Eclipse 3.3.1 and the first build is now <a href="&lt;a%20href=" http:>available for testing</a>.
<br><br>
So what do you do if you like your Eclipse 3.3.1 and don't want to try the build from above ? 
<br><br>
You have a couple of options:
</p>
<ul>
<li>Use the *exact* settings described in <a href="http://blog.xam.dk/archives/68-Eclipse-and-memory-settings.html">my previous blog</a> - they are not affected by the Eclipse 3.3.1 bug</li>
 <li>Use <a href="http://www.redhat.com/developers/rhds">Red Hat Developer Studio</a> which automatically uses the settings described in my blog</li>
 <li>Use another VM, only Sun's and Apple's VM requires the PermGen setting; IBM's and JRockIt JVM allocates PermGen space dynamically</li> 
</ul>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
