---
title: 'Jing - the best tool for reporting bugs for any UI!'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ Java ]
orignallink: 'http://blog.xam.dk/?p=72'
---
<body>
<a href="http://www.jingproject.com">Jing</a> is a tool for grabbing screenshots and screencasts on Windows and Mac. 
<br><br>
That does not sound so new and exiting until you actually try and use Jing. 
<br><br>
They made it so easy to do the screenshot and screencasts that everybody can do it without spending any more time than it takes to actually do the act you want to record.
<br><br>
Furthermore they provide a one-click sharing facility so the only thing you have to do is to paste the automatic generated url into your favorite products issue tracker to be able to let everyone see what the bug is about.
<br><br>
Jinq does not have many editing facilities so you can't fix any stupid mistakes you did for e.g. a demonstration (I currently use <a href="http://www.debugmode.com/wink/">Wink</a> for that), but for quick'n'dirty grabbing a screenshot or recording a screencast nothing gets close to the ease and use of Jing!
<br><br>
I'm definitly going to recommend it to anyone that want to easily show a bug (or a cool thing) in JBoss Tools or JBoss Developer Studio.
<br><br>
Update: I realized I had written jinq instead of jing. That is now fixed ;)
<br><br><br><br>
</body>
