---
title: 'JBoss Tools &amp; Developer Studio at JavaPolis'
author: 'Max Rydahl Andersen'
layout: blog-post
tags: [ JBoss Tools and devstudio ]
orignallink: 'http://blog.xam.dk/?p=73'
---
<body><p>JavaPolis is getting near and this year I'll finally have time to go to it - yay!
<br><br>
If you want to hear about JBoss Tools and Developer Studio (or just meet up and try out the belgium beer) then come meet me in the JBoss/Red Hat booth or catch me listening in on some of the presentations that are related to the tooling:
<br><br><a href="http://www.javapolis.com/confluence/display/JP07/Seam+in+Action">Seam In Action</a> with Pete Muir et.al.
<br><br><a href="http://www.javapolis.com/confluence/display/JP07/Intro+to+Exadel+RichFaces+and+JBoss+JSFUnit">Intro to Richfaces and JBoss JSFUnit</a> with Stan Silvert.
<br><br>
See you there.
</p></body>
