---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | relativize_url }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}
          {% include post-meta.html post=page %}
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

          {{ content }}

          <hr>

          {% assign comments = site.data.comments[page.slug] %}
          {% if comments %}
          {% assign comments = comments | sort %}
          {% for comment in comments %}
          {% assign avatar = comment[1].avatar %}
          {% assign email = comment[1].email %}
          {% assign name = comment[1].name %}
          {% assign url = comment[1].url %}
          {% assign date = comment[1].date %}
          {% assign message = comment[1].message %}
          {% include comment.html index=forloop.index avatar=avatar email=email name=name url=url date=date message=message %}
          {% endfor %}
          {% endif %}

          <hr>

      <div class="clearfix">

        {% if page.previous.url %}
        <a class="btn btn-primary float-left" href="{{ page.previous.url | relativize_url }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline"> Post</span></a>
        {% endif %}
        {% if page.next.url %}
        <a class="btn btn-primary float-right" href="{{ page.next.url | relativize_url }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline"> Post</span> &rarr;</a>
        {% endif %}

      </div>

    </div>
  </div>
</div>

